* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed' ,sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #30363d;
}

/* width */
::-webkit-scrollbar {
    width: 10px; 
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header.headerout {
    background-color: aliceblue;
}

.headerout img {
    height: 40px;
    width: 40px;
}

.imgflex {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

button.loginbutton {
    background-color: aliceblue;
    border: none;
    color: #30363d;
    font-size: large;
}

button.loginbutton:hover {
    background: url(../images/bgheader.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
    
}

.header {
    background-color: #22262b;
    box-shadow: 0px 5px 20px -1px #22262b;
    position: sticky;
    top: 0;
}

.navbar {
    line-height: 1.6;
    margin-top: 10px;
    padding: 14px 10px;
    text-transform: uppercase;
    text-align: center;
}

.navbar a:visited, .navbar a:active, .navbar a:link {
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
}

.navbar a:hover {
    background: url(../images/bgheader.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    transition: 0.5s;
}


.box1 {
    background-color: #30363d;
    width: 600px;
    height: 600px; 
    margin: 4vh auto;
    border: none;
}

u {
    color: white;
}

.pout {
    background: url(../images/bgheader.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
}

.flex {
    font-weight: bold;
    font-size: xxx-large;
}

.frm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    padding: 20px;
}

input {
    width: 45%;
    height: 35px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    color: aliceblue;
    font-size: large;
}

input[type=email]:focus,input[type=password]:focus {
    outline: none;
    border-bottom:1px solid aqua;
    /* background-color: rgb(242, 242, 242); */
    transition: 0.5s;
}

.submitButton { 
    background-color: transparent;
    color: aliceblue;
    padding: 10px 12px;
    border: 0.2px solid aqua;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: 700;
}

.submitButton:hover {
    color: #22262b;
    background: url(../images/bgheader.png);
    background-size: cover;
    transition: .6s ease-in;
    cursor: pointer;
}

.priv p a {
    color: dodgerblue;
}

.priv p {
    text-align: center;
    font-size: 17px;
    color: white;
    margin: 15px;
}

.login {
    text-align: center;
    padding: -1px;
}

.login p {
    font-size: 20px;
    color: white;
}

.login p a:visited,a:link,a:active {
   color: whitesmoke;
   text-decoration: underline;
}

.login p a:hover {
    background: url(../images/bgheader.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    transition: 0.5s;
}

footer {
    background-color: #22262b;
    color: white;
    text-align: center;
    padding: 2vh;
}
.social-ul {
    display: flex;
    justify-content: center;
}

.social-ul li {
    margin: 5px 20px;
}

.social-ul li a {
    color: white;
}

.social-ul li a:hover {
    color: rgb(168, 175, 175);
    transition: 0.5s;
}


@media (min-width: 600px) {
    .navbar,ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        max-width: 1150px;
        margin: 0 auto;
    } 
}

@media (min-width: 900px) {
    .navbar,ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 900px) {
    body {
        background-color: #f1f1f1;
    }

    .box1 {
        background-color: #30363d;
        width: 400px;
        height: 600px; 
        margin: 4vh auto;
        border-radius: 20px;
        box-shadow: 0px 2px 20px -1px rgb(0, 0, 0);
    }

    .social-ul {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
    
    .social-ul li {
        margin: 5px 20px;
    }
    
    .social-ul li a {
        color: white;
    }


}