* {
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: aliceblue;
    overflow-x: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header.headerout {
    background-color: aliceblue;
}

.headerout img {
    height: 40px;
    width: 40px;
}

.imgflex {
    display: flex;
    padding: 5px 0;
    justify-content: space-between;
    margin: 0 10px;
    align-items: center;
}

.signupbutton {
    background-color: #22262b;
    border: none;
    color: aliceblue;
    padding: 12px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 8px;
}

button.signupbutton:hover {
    background: url(../images/bgheader.png);
    background-size: cover;
    transition: 0.5s ease-out;
    color: rgb(0, 0, 0);
}

button.loginbutton {
    background-color: aliceblue;
    border: none;
    color: #30363d;
}

button.loginbutton:hover {
    background: url(../images/bgheader.png);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: cover;
    transition: 0.5s;
    cursor: pointer;
}

.header {
    background-color: #22262b;
    box-shadow: 0px 5px 20px -1px #22262b;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar {
    line-height: 1.6;
    margin-top: 10px;
    padding: 14px 10px;
    text-transform: uppercase;
    text-align: center;
}

.navbar a {
    color: aliceblue;
    font-family: 'Roboto Condensed', sans-serif;
}

.navbar a:hover {
    background: url(../images/bgheader.png);
    background-clip: text;
    -webkit-background-clip: text;
    background-size: cover;
    color: transparent;
    transition: 0.5s;
}

/* both headers end here */
/* signup shenaniganss */

.mainbody {
    background-image: url(../images/office.webp);
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.flexcontainer {
    display: inline-flex;
    margin-left: 20px;
    font-size: 65px;
    overflow: auto;
    flex-direction: column;
    align-items: center;
}

.btn {
    overflow: auto;
}

button.big {
    text-transform: uppercase;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: #22262b;
    padding: 10px 50px;
    font-size: large;
    font-weight: bold;
    transition-delay: 0s;
}

button.big:hover {
    color: #22262b;
    background: url(../images/bgheader.png);
    background-size: cover;
    transition: transform 0.5s, background 0.5s, color 0.5s;
    font-size: large;
    cursor: pointer;
    transition-delay: 0.1s;
}

.body2 {
    background-color: #30363d;
    height: 40rem;
    color: aliceblue;
}

.box {
    font-size: 65px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.cardflex {
    display: flex;
    margin: 5rem;
    position: relative;
    justify-content: space-between;
}

.card {
    color:  aliceblue;
    padding: 0 20px;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.front,
.back {
    width: 100%;
    height: 85%;
    display: flex;
    border-radius: 6px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: ease-in-out 0.8s;
    position: absolute;
}

.front {
    background-size: cover;
    padding: 2rem;
    overflow: hidden;
    font-size: 1.6rem;
    font-weight: bold;
    background-blend-mode: color-dodge;
    background-color: rgba(29, 30, 31, 0.9);
}

.front:before {
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.25;
    z-index: -1;
}

.card:hover .front {
    transform: rotateY('180deg');
}

.card:nth-child(even):hover .front {
    transform: rotateY(-180deg);
  }

.card:nth-child(odd):hover .front {
    transform: rotateY(-180deg);
  }

.back {
    background-image: url(../images/bgheader.png);
    transform: rotateY('-180deg');
    padding: 2rem;
    color: black;
    position:fixed;
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
}

.card:hover .back {
    transform: rotate(0deg);
}

.card:nth-child(even) .back {
    transform: rotateY(180deg);
}

.card:nth-child(even):hover .back {
    transform: rotateY(0deg);
}

.card:nth-child(odd) .back {
    transform: rotateY(180deg);
}

.card:nth-child(odd):hover .back {
    transform: rotateY(0deg);
}

footer {
    background-color: #22262b;
    color: white;
    text-align: center;
    padding: 5vh;
    z-index: 2;
}

/* animations O(∩_∩)O  */

/* .
. */
/* responsiveness of page */
@media (min-width: 600px) {

    .navbar,
    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        max-width: 1150px;
        margin: 0 auto;
    }
}

@media (min-width: 900px) {

    .navbar,
    ul {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .mainbody {
        background-image: none;
        background-color: #30363d;
        color: white;
    }

    .mainbody p {
        text-align: center;
    }

    .body2 {
        background-color: aliceblue;
    }

    .box {
        color: #22262b;
    }

    button.big {
        color: white;
        background-color: #22262b;
    }

    button.big:hover {
        color: #22262b;
        background: url(../images/bgheader.png);
        background-size: cover;
    }

    .downimg {
        height: 200px;
        width: 250px;
    }

    .body2 {
        height: 90rem;
    }

    .cardflex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 250px;
        height: 250px;
        margin: 2rem;

    }
    .front, .back {
        font-size: 1.2rem;
        display: flex;
    }
}
