body {
    background-color: #30363d;
    margin: 0;
    padding: 0;
}

#head {
    background-color: #22262b;
    padding: 10px;
}

#links {
    color:#ffffff;
    font-family: "Roboto Condensed";
    text-align: center;
}

a.Name {
    float: left;
    text-decoration: none;
    text-align: center;
}

#log {
    /* float: right; */
    text-align: right;
}

#links, a.Name {
    padding: 5px;
}

a.hlinks:link,a.hlinks:active,a.hlinks:visited {
    margin-left: 50px;
    text-decoration: none;
    color:#ffffff;
    font-size: 30px;
    transition: 1.0s;

}

a.hlinks:hover {
    background: url("bgheader.png");
    background-size: 85px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: 1.0s;
}   

a.linklogin:link,a.linklogin:visited,a.linklogin:active{
    float: right;
    text-decoration: none;
    color: #ffffff;
    font-size: large;
    padding: 10px;
    transition: 0.5s;
    
}

a.linklogin:hover {
    background: url("bgheader.png");
    background-size: 50px;
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    transition: all 1.0s linear;
}

a.linksign:link,a.linksign:visited,a.linksign:active {
    color:#ffffff;
    margin-right: 40px;
    float: right;
    text-decoration: none;
    font-size: large;
    border: solid 1px aquamarine;
    padding: 10px;
    transition: 1.0s;
}

a.linksign:hover {
    background: url("bgheader.png");
    background-size: 85px;
    color: #22262b;
    transition: 1.0s linear;
}

/* Header ends here */

#mainbody {
    color: #ffffff;
    font-size: 85px;
    font-family: 'Roboto Condensed';
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 300px;
    text-align: left;
    float: left;
}

img.imgtxt {
    float: right;
    margin-top: 0px;
}
